<%- include('partials/header') %>
<body>
<div class="container mt-5">
  <h1>Register</h1>

  <% if (message === 'verification') { %>
    <div class="alert alert-success" role="alert">
      Please check your email to verify your registration.
    </div>
  <% } %>

  <% if (typeof error !== 'undefined') { %>
    <div class="alert alert-warning">
        <%= error %>
    </div>
<% } %>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /register route -->
          <form action="/register" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="username">
            </div>
            <div class="form-group">
              <label for="password">Create Password</label>
              <input type="password" class="form-control" name="password">
            </div>
            <div class="form-group">
              <label for="passwordConfirm">Confirm Password</label>
              <input type="password" id="passwordConfirm" class="form-control" name="passwordConfirm">
          </div>
          
            <button type="submit" class="btn btn-dark">Register</button>
            
          </form>

        </div>
      </div>
    </div>

   

  </div>
</div>




<%- include('partials/header') %>

<script>
  const form = document.querySelector('form');
  form.addEventListener('submit', function(event) {
      const password = document.querySelector('input[name="password"]').value;
      const passwordConfirm = document.querySelector('input[name="passwordConfirm"]').value;

      if (password !== passwordConfirm) {
          event.preventDefault();
          alert('Passwords do not match');
      }
  });
</script>

</body>